.top{
    margin-top:100px;
 
}
.left{
    margin-left:50px;
}
.button{
    background-color:red;
}
.Logout{
    background-color:red;
    width: 500px;
}
.profile{
    margin-top: 50px;
    margin-left:400px;
}