.form{
    margin-left: 500px;
    margin-bottom: 100px;
    margin-top:100px;
 }
 .text{
     width: 400px;
     height: 50px;
     border-radius: 50px;
     border: 1px solid black;
 }
 .fir{
     margin-bottom: 10px;
 }
 .sec{
     margin-bottom: 5px;
 }
 .thir{
     margin-top: 10px;
 }
 .but{
     width: 410px;
     height: 50px;
     border-radius: 50px;
     background-color: #FF6666;
 }